@page "/"

<button onclick="@CreateWatchClient" disabled="@isWatchDisabled">Register to Watch channel</button>
<button onclick="@CreateNewsClient" disabled="@isNewsDisabled">Register to News channel</button>



<div style="font-size:xx-large">@watch</div>




@if (article is not null)
{
    <div>
        <p><h1>@article.title</h1></p>
        <p>From: @article.source.name</p>
        <div>
            <p>@article.content</p>
            <p> <a href="@article.url" target="_blank">Leggi notizia completa</a> </p>

            <p></p>
            <img src="@article.urlToImage" />
        </div>

    </div>
}
else
{
    if (isNewsDisabled)
    {
        <p>Waiting for news...</p>
    }
}