@page "/"

<h1>Benvenuti alla DotNET Conf 2023!</h1>
<h2>SignalR: comunicazioni tra backend e frontend</h2>

<button onclick="@CreateWatchClient" disabled="@isWatchDisabled">Registra al canale 'Orologio''</button>
<button onclick="@CreateNewsClient" disabled="@isNewsDisabled">Registra al canale delle 'News''</button>



<div style="font-size: 100px; font-weight: 900">@watch</div>




@if (article is not null)
{
    <div>
        <p><h1>@article.title</h1></p>
        <p>From: @article.source.name</p>
        <div>
            <p>@article.content</p>
            <p> <a href="@article.url" target="_blank">Leggi notizia completa</a> </p>

            <p></p>
            <img src="@article.urlToImage" />
        </div>

    </div>
}
else
{
    if (isNewsDisabled)
    {
        <p>Waiting for news...</p>
    }
}