@page "/"

<h1>Hello, world!</h1>

<div>@Watch</div>


<button onclick="@CreateNewsClient">News</button>

@if (article is not null)
{
    <div>
        <p><h1>@article.title</h1></p>
        <p>From: @article.source.name</p>
        <div>
            <p>@article.content</p>
            <p> <a href="@article.url" target="_blank">Leggi notizia completa</a> </p>

            <p></p>
            <img src="@article.urlToImage" />
        </div>

    </div>
}